# MySQL Environment Variables
MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
MYSQL_DATABASE={{ mysql_database | default('wordpress') }}
MYSQL_USER={{ mysql_user | default('wpuser') }}
MYSQL_PASSWORD={{ mysql_wp_password }}